h1{
    font-size: 60px !important;
    font-weight: 800 !important;
    font-family: 'DM Sans', sans-serif;
}
h2{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}
h3{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    color: #ffffff;
}
p{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}
p3{
    font-size: 14px;
    font-family: 'DM Sans', sans-serif;
}

.headerr{
    background: #14142B;
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
/* height: 60px !important; */

padding-top:2% !important;
padding-bottom: 2% !important;
}

.waves{
margin-top: -18%;
}
.contenttt{
    background-color: rgba(210, 210, 210, 0.489);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    border-radius: 60px;
}
.hmm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Sign{
    background-color: #02812C !important;
    color: white !important;
padding: 10px  !important;
padding-left: 50px !important;
padding-right: 50px !important;
font-family: 'DM Sans', sans-serif;
}
.dididi{
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
justify-content: space-between;

/* background-color: red; */
    /* text-align: start; */
}

.fHolder{
    font-family: 'DM Sans', sans-serif;
    width: 450px ;
    color: black;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 39, 69, 0.35) 0px -2px 6px 0px inset;
   padding: 10%;
   /* margin-bottom: 40px; */
    border-radius: 6%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.fHolder2{
    font-family: 'DM Sans', sans-serif;
    width: 450px ;
    color: black;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 39, 69, 0.35) 0px -2px 6px 0px inset;
   padding: 10%;
   /* margin-bottom: 40px; */
    border-radius: 6%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
 
}
.width{
    font-family: 'DM Sans', sans-serif;
    height: 40px !important;
    width: 180px !important;
}
/* .best{

} */
.cc{
    background-color: #815AF0;
        border-radius: 10px;
        padding: 10px;
        font-size: 36px ;
        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        text-align: center;
        color: white;
        width: 370px;
        margin-top: 14px;
}
.regi{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'DM Sans', sans-serif;
}
.form-control::placeholder{
    font-family: 'DM Sans', sans-serif !important;
    color: rgb(151, 151, 151) !important;
}
.form-control{
    font-family: 'DM Sans', sans-serif !important;
    height: 55px !important;
    width: 350px !important;
}
.form-label{
    font-family: 'DM Sans', sans-serif !important;
}
.register{
    color: white !important;
    height: 55px !important;
    width: 350px !important;
    background-color: #02812C !important;
}
.subHandle{

font-style: normal;
font-weight: 400;
text-align: center;
padding-top: 14px;
}
.speakers{
    font-family: 'DM Sans', sans-serif;
 margin-top: 40px ;
}
.black{
background-color: rgb(0, 0, 0);
display: flex;
justify-content: center;
color: white;

padding: 2%;
}
.copyright{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}



.prious{
    background-color: #14142B;
}
.fridd{
    background-image: url('../images/finally2.png');
background-repeat:no-repeat;
background-size: cover;
color: white;

}
.topp{
    font-family: 'Lexend';
font-style: normal;
font-weight: 600;
font-size: 32px;
color: #FFFFFF;
}
.impat{
font-family: 'Fira Sans';
font-style: normal;
font-weight: 600;
font-size: 64px;
color: #FFFFFF;
line-height: 80px;
}
.commer{
    font-family: 'Lexend';
font-style: normal;
font-weight: 300;
font-size: 16px;
color: #FFFFFF;
}
.impat2{
font-family: 'Fira Sans';
font-style: normal;
font-weight: 400;
font-size: 64px;
color:#262036;
line-height: 80px;
}
.commer2{
    font-family: 'Lexend';
font-style: normal;
font-weight: 300;
font-size: 16px;
color:#262036;

}
.mentors{
    width: 230px;
height: 300px;
background: #262036;
/* border: 0.977695px solid #3D2F76; */
/* padding: 13px; */
border-radius: 5px;
}
.flexup{
    display: flex;
    flex-wrap: wrap;

}
.leads{
    padding-left: 20px;
    padding-top: 30px;
}
.imageHolders{
    width:100%;
height: 150px;

/* background: #FFFFFF; */
border-radius: 5px 5px 0 0;
}
.imageHolders img{
width:100%;
object-fit: cover;
border-radius: 5px 5px 0 0;
}
.speaker{
    font-family: 'Fira Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
margin-top: 8px;
margin-top: 18px;
color: #FFFFFF;
}
.leadd{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 14px;
margin-top: 6px;
color: #FFFFFF;
}
.footer{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: white;
    background: #14142B;
    /* border-top: 1px solid #3D2F76; */
    /* margin-top: 64px; */
}
.footer2{
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    color: white;
    background: #14142B;
    border-top: 1px solid #3D2F76;
    /* margin-top: 64px; */
}
a{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
text-decoration: none !important;
color: #815AF0 !important;
}
.powered{
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: center;
}
.navbar-brand{
    /* background-color: red; */
    width: 70%;
    height: 20%;
}


.navss{
    margin-top: -6px;
    color: white !important;
    font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 16px;

}
.navss2{

    color: white !important;
}

.bout{
    font-family: 'Fira Sans';
font-style: normal;
font-weight: 600;
font-size: 64px;
color: #FFFFFF;
}
.ptalks{
    font-family: 'Lexend';
font-style: normal;
font-weight: 300;
font-size: 16px;
color: #FFFFFF;

}
.icon{
    padding-right: 65%;
     width: 80%;
}
.thankypu{
    background-color: #14142B;
    /* height: 100%; */

}
.morph{
 
    width: 812.85px;
    /* height: 710px; */
    display: flex;
/* justify-content: center; */
align-items: center;
flex-direction: column;
padding-top: 10%;
padding-bottom: 10%;
    background: #2b2b41a8;
    backdrop-filter: blur(52.1946px);    
    border-radius: 78.2919px;
}
.fridd2{
    background-image: url('../images/finally2.png');
background-repeat:no-repeat;
background-size: cover;
color: white;
width: 100vw;
display: flex;
justify-content: center;
padding-top: 10%;
padding-bottom: 10%;
}
 .okkk{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    -webkit-animation:glide 0.6s ease-in-out alternate infinite;
}
@-webkit-keyframes glide  {
    from {
       left:0px;
       top:0px;
    }
    
    to {
       left:0px;
       top:20px;
    }
 
 } 


 .thankk{
    font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 64px;
text-align: center;
color: #FFFFFF;
 }
 .fror{
    font-family: 'Lexend';
font-style: normal;
font-weight: 300;
font-size: 36px;
text-align: center;
color: #FFFFFF;
 }
 .backhome{
text-align: center;
padding: 18px 30px;
width: 204px;
height: 61px;
background: #815AF0;
border-radius: 7px;
border: none;
outline: none;
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 20px;
color: #FFFFFF;
 }
 .check{
    font-family: 'Lexend';
font-style: normal;
font-weight: 300;
font-size: 20px;
text-align: center;
color: #FFFFFF;
 }

 .dettt{
/* padding: 10px 10px; */
width: 110px;
height: 45px;
font-family: 'Lexend';
font-style: normal;
font-weight: 400;
font-size: 16px;
text-align: center;
outline: none;
border: none;
color: #14142B;
background: #FFB62A;
border-radius: 7px;
 }
.navbar-toggler{

background-color: #ffffff !important;

}

li {
    list-style-type: none !important;
}